/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
}


form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: lightskyblue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: flex;
    margin-bottom: 8px;
    font-weight: bolder;
}

form input[type="text"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(15, 20, 7);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: unset;
}


